DEBUG=True
SECRET_KEY=replace-this-for-local-development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/money
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://money.sokoloff.co.uk
GOOGLE_SHEETS_CREDENTIALS_JSON=
EMMA_SPREADSHEET_ID=
EMMA_WORKSHEET_NAME=Primary
MONEY_DEFAULT_CURRENCY=GBP
MONEY_IMPORT_USERNAME=
